In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
path=r"C:\Users\Sam\Desktop\CF\Project 4 Instacart Basket\Instacart Basket Analysis\02 Data\Original Data\orders.csv"

In [7]:
df_prod=pd.read_csv(path)

In [10]:
df_prod[df_prod["user_id"]==1]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0

In [11]:
user1=df_prod[df_prod["user_id"]==1]

In [12]:
user1.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,1.100000e+01,11.0,11.000000,11.000000,11.000000,10.000000
mean,1.923450e+06,1.0,6.000000,2.636364,10.090909,19.000000
std,1.071950e+06,0.0,3.316625,1.286291,3.477198,9.030811
min,4.315340e+05,1.0,1.000000,1.000000,7.000000,0.000000
25%,8.690170e+05,1.0,3.500000,1.500000,7.500000,14.250000
50%,2.295261e+06,1.0,6.000000,3.000000,8.000000,19.500000
75%,2.544846e+06,1.0,8.500000,4.000000,13.000000,26.250000
max,3.367565e+06,1.0,11.000000,4.000000,16.000000,30.000000